.carousel-arrow {
  width: 2.5rem;
  height: 2.8rem;
  position: absolute;
  top: calc(50% - 1.5rem);
  border: 1px rgba(0, 0, 0, 0.4) solid;
  padding: 1rem 0.2rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.carousel-arrow:hover {
  background-color: black;
}

.carousel-arrow:hover svg {
  fill: white;
}

.carousel-arrow.left {
  left: 0;
}

.carousel-arrow.right {
  right: 0;
}

.carousel-arrow svg {
  width: 100%;
  height: 100%;
}
