.custom-button {
  letter-spacing: 1.3px;
  padding: 1rem 2.1rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: normal;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: 1px solid transparent;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: 1px solid transparent;
    }
  }
}

@media all and (max-width: 450px) {
  .custom-button {
    min-width: none;
    width: auto;
    padding: 10px 20px;
  }
}
