.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 850px) {
  .collection-preview {
    .title {
      text-align: center;
    }
    .preview {
      justify-content: center;
    }
  }
}
