.product-page {
  display: flex;
  align-items: center;
  .prevPage-btn {
    position: absolute;
    top: calc(8vh + 2rem);
    left: 3rem;
  }
  &__container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 92vh;
    gap: 3rem;
    margin-top: 10vh;
    .product-page__pictures {
      position: relative;
      &-inner {
        font-size: 0;
        position: relative;
        height: 730px;
        width: 500px;
        display: flex;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 0;
          height: 730px;
          width: 500px;
        }

        .arrow {
          position: absolute;
        }
      }
    }
    .product-page__description {
      width: 40rem;
      align-self: center;
      p {
        padding: 1.5rem 0;
      }
    }
  }
}
