.product-page {
  display: flex;
  align-items: center;
  .prevPage-btn {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    &:hover {
      background-color: rgba(246, 246, 246, 0.5);
    }
    svg {
      transform: rotate(180deg);
    }
    h4 {
      font-weight: 300;
      margin: 0;
      padding-left: 0.8rem;
      font-size: 0.9rem;
    }
  }
  &__container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 10vh;
    .product-page__pictures {
      position: relative;
      .pagination {
        font-weight: 300;
      }
      &-inner {
        font-size: 0;
        position: relative;
        height: 730px;
        width: 500px;
        display: flex;
        overflow: hidden;

        img {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 0;
          height: 730px;
          width: 500px;
        }

        .arrow {
          position: absolute;
        }
      }
    }
    .product-page__description {
      width: 40rem;
      align-self: center;

      p {
        padding: 1.5rem 0;
      }
      .price {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }
  }
}
