.collection-item {
  width: 22vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;

  .image {
    position: relative;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    .custom-button {
      width: 80%;
      opacity: 0.85;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &:hover .custom-button {
      display: flex;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      margin-bottom: 15px;
    }
  }
}

@media all and (max-width: 1250px) {
  .collection-item {
    width: 43vw;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 850px) {
  .collection-item {
    width: 95%;
    height: 80vh;
  }
}

@media all and (max-width: 650px) {
  .collection-item {
    height: auto;
  }
}
