.header {
  position: fixed;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  z-index: 1000;
  background-color: white;
  align-items: center;
  top: 0;
  @media all and (max-width: 850px) {
    padding: 0 5%;
  }
  @media all and (max-width: 650px) {
    padding: 0 2%;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      /*   &:hover {
        opacity: 0.7;
      } */
      .user {
        color: rgb(62, 62, 255);
      }
    }
    .dropdown {
      overflow: hidden;
      .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      .dropdown-content {
        display: none;
        flex-direction: column;
        gap: 3px;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 1;
        a {
          padding: 6px;
        }
      }
      &:hover .dropdown-content {
        display: flex;
      }
    }
  }
}
