.menu-item {
  min-width: 30%;
  height: 80vh;
  margin: 20px 7.5px 15px;
  overflow: hidden;
  position: relative;
  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.05);
      transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    min-width: 45%;
    height: 110vh;
    margin: 0 40px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 40px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: black;
    }

    .subtitle {
      font-size: 14px;
    }
  }
  .content-title {
    text-align: center;
    h3 {
      font-size: 12px;
      margin: 20px 0 0 0;
      color: rgb(86, 86, 86);
    }
    h2 {
      font-size: 20px;
      margin: 0;
    }
    p {
      font-size: 16px;
      margin: 0 0 20px 0;
    }
  }
}
