.sign-in-and-sign-out {
  .login-forms {
    display: flex;
    flex-direction: column;
  }

  @media all and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
