.carousel {
  margin: 5vh 0;
  background: rgb(246, 246, 246);
  overflow: hidden;
  width: 100vw;
  position: relative;
  display: flex;

  &__inner {
    display: flex;
    gap: 7rem;
    background: #f6f6f6;
    &-image {
      height: 315px;
      max-width: 250px;
    }
  }
}

/* heights 390, 295  */
